.section {
  padding: 5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 1em;
}
.content-list {
  list-style-type: none;

  gap: 1em;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.featured {
  margin-bottom: 7em;
}
