<section class="section">
  <h2>List Of Songs</h2>
  <div>
    <label for="search">Search</label>
    <input
      type="text"
      id="search"
      placeholder="Search"
      (input)="handleInput($event)"
    />
    <button (click)="searchContent()">Search</button>
  </div>
  <p *ngIf="isAvailable">Available</p>
  <p *ngIf="!isAvailable">Not Available</p>
  <ul class="content-list">
    <li *ngFor="let content of contentList | contentlistpipe">
      <ul class="content-list">
        <li *ngFor="let content of contentList">
          <app-content-card></app-content-card>
        </li>
      </ul>
    </li>
  </ul>
</section>


