<div>
  <label>ID:</label>
  <input type="text" name="contentId" [(ngModel)]="newContent.id" />

  <label>Title:</label>
  <input type="text" name="contentTitle" [(ngModel)]="newContent.title" />

  <label>Description:</label>
  <textarea
    name="contentDescription"
    [(ngModel)]="newContent.description"
  ></textarea>

  <label>Creator:</label>
  <input type="text" name="creator" [(ngModel)]="newContent.creator" />

  <label>Image URL:</label>
  <input type="text" name="contentImgURL" [(ngModel)]="newContent.imgURL" />

  <label>Type:</label>
  <input type="text" name="contentType" [(ngModel)]="newContent.type" />

  <button (click)="addContent()">Add Content</button>
</div>
